<% include elements/header %>

  <div class="container">
    <h2>Novo restaurante</h2>
    <p>
      <a href="/restaurantes">Listar restaurantes</a>
    </p>
    <form method="post">
      <div class="form-group">
        <label for="nome">Nome do restaurante:</label>
        <input type="text" class="form-control" id="nome" name="nome">
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>


  <% include elements/footer %>